[submodule "assets/scss/font-awesome"]
	path = assets/scss/font-awesome
	url = git@github.com:FortAwesome/font-awesome-sass.git
[submodule "exampleSite/themes/hyde-hyde"]
	path = exampleSite/themes/hyde-hyde
	url = https://github.com/htr3n/hyde-hyde.git
